<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New user</title>
</head>
<body>
<form action="{% url "save_user" %}" method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <th>
                New user registration
            </th>
        </tr>
        <tr>
            <th>
                <input type="text" placeholder="Name" size="30" name="un" required>
            </th>
        </tr>
        <tr>
            <th>
                <input type="text" placeholder="Email" size="30" name="ue" required>
            </th>
        </tr>
        <tr>
            <th>
                <input type="password" placeholder="Password" size="30" name="up" required>
            </th>
        </tr>
        <tr>
            <th>
                User Type <input type="radio" name="type" value="True"> Admin <input type="radio" name="type" value="False"> Staff
            </th>
        </tr>
        <tr>
            <th>
                <input type="submit" value="Create User">
            </th>
        </tr>

    </table>
</form>
</body>
</html>